$black: #000;
$white: #fff;

/* project specific */

$beige: #EBE7DD;
// $beige: #f4f0e6;
// $beige: #ECEAE4;
// $beige: #DAD6CA;
$beige: #F2F1EC;
// $beige: #E5E7DF;
// $beige: #e1e1e1;
$beige: #f2e9de;
$beige: #e6ddd2;
$gray: #3f3b37;
$gray: #28282A;
$gray: #000;
// $gray: #3F3B38;
$yellow: #cdff00;
// $yellow: #ffa000
