


$sans: "Josefin Sans", sans-serif;;
$mplus: "M PLUS Rounded 1c", sans-serif;

/* sans-serif */
$sans-serif: 'Noto Sans JP', serif;
$sans-serif-bold: 'Yu Gothic', yugothic, sans-serif;

/* serif */
$serif: 'Yu Mincho Medium', yumincho, serif;
$serif-bold: 'Yu Mincho', yumincho, serif;


/* define main family */
$main: $mplus;
